html,body {
    font-family: 'Cairo', sans-serif;
  height:100%;
}
body{
   font-family: 'Cairo', sans-serif;
	margin:0;
	padding:0;
  background:#FFF;
  
}

a:hover{text-decoration: none;}
a{text-decoration: none;}

/* Globals type styling */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
  color: #333;
} 

/* NavBar */
header
#nav-bloc {
    background-color: #fff;
    position: fixed;
 top: 0;
 height:100px;
 width: 100%;
 z-index: 99;

}

.navbar{
	margin-bottom: 0;
        
}
.navbar-brand{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
}
.navbar-brand img{
	width: auto;
	max-height: 40px;
	margin: -12px 5px 0 0;
}
.navbar-brand{
	padding: 15px 15px;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
}
.nav > li{
	float: left;
	margin-top: 4px;
	font-size: 16px;
}
.nav > li a:hover{
	background:transparent;
}
a:hover, a:focus {
    color:#459d9c;
}
.navbar-toggle{
	margin: 12px;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
.navbar-collapse.in {
overflow-y: visible;

width: 100%;
}
.navbar-1 {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.navbar-1 li{
    margin-right: 30px;
}
.site-navigation:first-child {
display: inline-block;
text-align: center;
}
.site-navigation:nth-child(2) {
display: inline-block;
text-align: center;

}
.site-navigation:nth-child(2) a {
  color: #ccc;
  font-size: 85%;
  padding-right: 0px;
  
}

.site-navigation .nav > .active{
  color: #333;
}
#log {
  -webkit-appearance:  none; 
  width:  auto;
  min-width:  100px;
  border-radius:  24px; 
  text-align:  center; 
  padding:  15px 25px;
  margin-top:  5px; 
  color:  #a4c8ca; 
  background-color: white;
  font-size:  12px;
  margin-left:  auto; 
  margin-right: 20px;
  float: right;
  border: 1.2px solid #a4c8ca;
  font-weight:  100; 
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
 transition:  all .3s ease; 
  outline: 0;} 

#signUp {
  -webkit-appearance:  none; 
  width:  auto;
  min-width:  100px;
  border-radius:  24px; 
  text-align:  center; 
  padding:  15px 25px;
  margin-top:  5px; 
  color:  #fff; 
  background-color: white;
  font-size:  12px;
  margin-left:  auto; 
  margin-right: 20px;
  float: right;
  font-weight:  100; 
  border: none;
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
 transition:  all .3s ease; 
  outline: 0;
 background:linear-gradient(to left,#a4c8ca,#a4c8ca ); }

  button:hover {
    transform:  translateY(-3px);
  button:active {
      transform:  scale(.99);
    } 
  
  }
  
  
  
  
  
  /* Mobile adjustments */

@media (max-width: 768px)
{
    .bloc{
        text-align: center;
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .navbar-collapse{
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .btn.pull-left, .btn.pull-right{
       float:none!important; 
    }
    .bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .a-block{
        text-align: center;
    }
}